.HeaderNew {
	position: fixed;
	z-index: 600;
	top: 0;
	left: 0;
	width: 100%;
	height: 5.4rem;
	color: white;
	background-color: #262626;
	transition: all .5s ease-out;
	position: relative;
}

.header {
	color: grey;
	padding: .4rem 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header input {
	height: 3.6rem;
	width: 40rem;
	margin-right: 2rem;
	font-weight: 700;
	font-size: 1.55rem;
	padding: 0 1rem;
}

.btn {
	background-color: white;
	color: black;
	border-radius: 10rem;
	position: relative;
}

.btn::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	border-radius: 10rem;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: all .4s;
}

.btn:hover {
	background-color: #ccc;
	color: white;
	box-shadow: 0 2rem 4rem rgba(0,0,0,.6);
}

.btn:hover::after {
	transform: scale(1.5);
	opacity: 0;
}

.closed {
	transform: translateY(-200%);
}

.open {
	transform: translate(0);
}

